<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kreatitdesign.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="com.kreatitdesign.core.KreatitDesignApp"
        android:allowBackup="true"
        android:icon="@drawable/icon_2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kreatitdesign.ui.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kreatitdesign.ui.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kreatitdesign.ui.MainDash"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kreatitdesign.ui.ManagementDash"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kreatitdesign.ui.Camera"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kreatitdesign.ui.AccessCode"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kreatitdesign.ui.MonitoringCentre"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kreatitdesign.ui.Wireless"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kreatitdesign.ui.Sensors"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.kreatitdesign.ui.SensorDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.kreatitdesign.ui.TemperatureDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.kreatitdesign.ui.Alarm"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.kreatitdesign.ui.System"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
         <activity
            android:name="com.kreatitdesign.ui.Result"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
    </application>

</manifest>